.hero-slider-wrapper {
    width: 100%;
    max-width: 1600px;
    // margin: 2rem auto;
    border-radius: 16px;
    overflow: hidden;
}

/* 1. Базовая адаптивная высота */
.hero-slider {
    width: 100%;
   height: clamp(160px, 22vw, 380px);
}

/* 2. Swiper фикс, чтобы он не ломал размеры */
.swiper-slide {
    width: 100% !important;
    height: 100% !important;
}

/* 3. Фото внутри слайдера */
.hero-slide {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.hero-slide__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1024px) {
  .hero-slider {
    height: clamp(150px, 28vw, 320px);
  }
}

@media (max-width: 768px) {
  .hero-slider {
    height: clamp(130px, 35vw, 260px);
  }
}

@media (max-width: 480px) {
  .hero-slider {
    height: clamp(120px, 40vw, 220px);
  }
}
