.vehicle-page-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

/* Два отдельных блока */
.vehicle-grid {
  display: grid;
  grid-template-columns: 1fr 380px;
  gap: 32px;

  width: 100%;
  max-width: 1300px;

  background: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

/* Левая колонка */
.vehicle-left {
  width: 100%;
}

.vehicle-gallery {
  width: 100%;
}

.main-image {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 12px;
}

.thumbs {
  display: flex;
  gap: 10px;
}

/* ПРАВАЯ КОЛОНКА — sticky */
.vehicle-right {
  position: relative;
  
}

.vehicle-info {
  position: sticky;
  
  border-radius: 12px;
  top: 90px; // расстояние до Header
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0px 0px 9px 0px rgba(34, 60, 80, 0.2);
  background: white;
}

/* Адаптив */
@media (max-width: 900px) {
  .vehicle-grid {
    grid-template-columns: 1fr;
  }

  .vehicle-info {
    position: static; // sticky отключаем на мобиле
  }
}