.auto-card {
    background: rgb(var(--card));
    border-radius: 14px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    box-shadow: var(--shadow);
    transition: 0.25s ease;
    text-align: left;

    &:hover {
        transform: translateY(-4px);
        box-shadow: var(--shadow);

        // .auto-card__image {
        //     transform: scale(1.04);
        // }
    }

    &__image-wrapper {
        height: 185px;
        overflow: hidden;
        position: relative;
        background: rgb(var(--muted));
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.35s ease;
    }

    /* HOT badge */
    &__badge {
        position: absolute;
        top: 10px;
        left: 10px;
        background: rgb(var(--destructive));
        padding: 4px 8px;
        font-size: 0.7rem;
        font-weight: 600;
        color: rgb(var(--primary-foreground));
        border-radius: 6px;
    }

    /* FAVORITE BUTTON */
    &__fav-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background: rgb(var(--background) / 0.75);
        backdrop-filter: blur(6px);
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s ease;

        &:hover {
            background: rgb(var(--background));
        }
    }

    .fav-icon {
        width: 20px;
        height: 20px;
        color: rgb(var(--muted-foreground));
        transition: 0.2s ease;
    }

    .fav-icon.active {
        color: rgb(var(--destructive));
        fill: currentColor;
    }

    /* CONTENT SECTION */
    &__content {
        padding: 1.15rem;
        display: flex;
        flex-direction: column;
        gap: 0.35rem;
        align-items: flex-start;
    }

    &__price {
        font-size: 1.18rem;
        font-weight: 700;
        color: rgb(var(--foreground));
    }

    &__title {
        font-size: 0.97rem;
        font-weight: 600;
        color: rgb(var(--foreground));
        margin: 0;
        line-height: 1.3;
    }

    &__version {
        color: rgb(var(--muted-foreground));
        font-weight: 400;
    }

    &__details {
        font-size: 0.8rem;
        color: rgb(var(--muted-foreground));
        // white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__location {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 0.82rem;
        color: rgb(var(--muted-foreground));
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }

    .location-icon {
        width: 16px;
        height: 16px;
        color: rgb(var(--muted-foreground));
    }
}