.back {
    display: inline-flex;
    align-items: center;
    gap: 6px;

    font-size: 14px;
    font-weight: 500;
    

    background: none;
    border: none;
    padding: 4px 0;
    cursor: pointer;
    

    // &:hover {
    //     text-decoration: underline;
    // }
}